<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://rsms.me">
  <link rel="preconnect" href="https://twemoji.maxcdn.com">
  <link rel="preload" as="style" href="https://rsms.me/inter/inter.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#008000">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <meta property="og:title" content="Alex Diwa - CV and Portfolio" />
  <meta property="og.description" content="Hi! I'm a software developer based in Sydney, Australia. Passionate about frontend tech and building beautiful UIs." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://alexdiwa.com" />
  <meta property="og:image" content="https://alexdiwa.com/assets/logo.png" />
  <meta property="og:image:alt" content="Logo for Alex Diwa's portfolio and CV" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@cyberboi90" />
  <meta name="twitter:title" content="Alex Diwa - CV and Portfolio" />
  <meta name="twitter:description" content="Hi! I'm a software developer based in Sydney, Australia. Passionate about frontend tech and building beautiful UIs." />
  <meta name="twitter:image" content="https://alexdiwa.com/assets/logojpg.jpg" />
  <meta name="twitter:image:alt" content="Logo for Alex Diwa's portfolio and CV" />
  <meta name="description" content="Alex Diwa is a software developer based in Sydney, Australia. Passionate about frontend tech and building beautiful UIs.">
  <title>alex diwa - {{ title }}</title>
  <style>{% include "css/global.css" ignore missing %}</style>
</head>
<body>
  {% include "components/header.njk" %}
  <main>
    <section id="content" class="content" tabindex="-1">
      {{ content | safe }}
    </section>
  </main>
  {% include "components/footer.njk" %}
  {% set js %}
    {% include "js/main.js" %}
  {% endset %}
  <script>/* Emoji set credit: https://github.com/twitter/twemoji */twemoji.parse(document.body, { folder: 'svg', ext: '.svg' }); {{ js | jsmin | safe }} </script>
</body>
</html>