<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#008000">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
  <title>alex diwa - {{ title }}</title>
  <style>{% include "css/global.css" ignore missing %}</style>
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
</head>
<body>
  {% include "components/header.njk" %}
  <main>
    <section id="content" class="content" tabindex="-1">
      {{ content | safe }}
    </section>
  </main>
  {% include "components/footer.njk" %}

  <script>
    twemoji.parse(document.body, {
      folder: 'svg',
      ext: '.svg'
    });
    console.log(`%c(づ｡◕‿‿◕｡)づ`, 'font-family:monospace');
    console.log('hi! thanks for checking out my code 🔍✨');
  </script>
</body>
</html>