<footer>
  <nav class="footer-nav">
    <ul>
      <li><a href="#">linkedin</a></li>
      <li><a href="#">github</a></li>
      <li><a href="#">twitter</a></li>
      <li><a href="#">email</a></li>
    </ul>
  </nav>
</footer>