<footer>
  <nav class="footer-nav">
    <ul>
      <li><a href="https://www.linkedin.com/in/alex-diwa/" rel="noopener noreferrer" target="_blank">linkedin</a></li>
      <li><a href="https://github.com/alexdiwa" rel="noopener noreferrer" target="_blank">github</a></li>
      <li><a href="https://twitter.com/cyberboi90" rel="noopener noreferrer" target="_blank">twitter</a></li>
      <li><a href="mailto:atdiwa@gmail.com">email</a></li>
    </ul>
  </nav>
  <div class="footer-text">
    <span>© 2020 Alex Diwa</span>
    <span>Powered by <a href="https://www.11ty.dev/" rel="noopener noreferrer" target="_blank">11ty</a>
  </div>
</footer>