<footer>
  <nav class="footer-nav">
    <ul>
      <li><a href="#">linkedin</a></li>
      <li><a href="#">github</a></li>
      <li><a href="#">twitter</a></li>
      <li><a href="#">email</a></li>
    </ul>
  </nav>
  <div class="footer-text">
    <span>© 2020 Alex Diwa</span>
    <span>Powered by <a href="https://www.11ty.dev/" target="_blank">11ty</a>
  </div>
</footer>