<a class="skip-link" href="#content">skip to content</a>
<header role="banner">
  <nav class="header-nav">
    <a class="{% if '/' == page.url %}nav-item-active{% endif %}" href="{{ '/' | url }}">alex diwa</a>
    <ul>
      <li><a class="{% if '/CV/' == page.url %}nav-item-active{% endif %}" href="{{ '/CV/' | url }}">CV</a></li>
      <li><a class="{% if '/projects/' == page.url %}nav-item-active{% endif %}" href="{{ '/projects/' | url }}">Projects</a></li>
    </ul>
  </nav>
</header>