<a class="skip-link" href="#content">skip to content</a>
<header role="banner">
  <nav class="header-nav">
    <a class="sprig {% if '/' == page.url.toLowerCase() %}nav-item-active{% endif %}" href="{{ '/' | url }}">alex diwa</a>
    <ul>
      <li><a class="{% if '/cv/' == page.url.toLowerCase() %}nav-item-active{% endif %}" href="{{ '/cv/' | url }}">CV</a></li>
      <li><a class="{% if '/work/' == page.url.toLowerCase() %}nav-item-active{% endif %}" href="{{ '/work/' | url }}">work</a></li>
    </ul>
  </nav>
</header>