<a class="skip-link" href="#content">Skip to content</a>
<header>
  <nav class="header-nav">
    <a href="/">alex diwa</a>
    <ul>
      <li><a href="/cv">CV</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>
</header>