.footer-nav {
  ul {
    display: flex;
    justify-content: space-between;
  }
}

.footer-text {
  padding: 0.2rem 0.8rem;
  font-size: 0.8rem;
  line-height: 1.7rem;
  margin-top: 2rem;
  span {
    display: block;
  }
}