.header-nav {
  display: flex;
  justify-content: space-between;

  a {
    font-size: 1.2rem;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    min-width: 50%;
  }

  li {
    flex: 1 1 0;
    text-align: right;
  }
}

.nav-item-active {
  font-weight: 600;
}

@media only screen and (min-width: 600px) {
  .header-nav {
    a {
      font-size: 1.4rem;
    }
  }
}