.sprig {
  position: relative;
  display: inline-block;
  &::after {
    content: '';
    height: 100%;
    z-index: 20;
    position: absolute;
    pointer-events: none;
    background-size: 100%;
    top: 2px;
    left: 107%;
    width: 10px;
    background: url('/assets/sprig.svg') no-repeat center right;
  }
}

@media only screen and (min-width: 600px) {
  .sprig::after {
    width: 18px;
  }
}