.cv {
  & + .cv {
    margin-top: 3.5rem;
  }
  &.reduced-margin {
    margin-top: 1.5rem;
  }
  > * + * {
    margin-top: 1.5rem;
  }
}

.cv-header {
  h2 {
    margin: 0;
  }
  .cv-period {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

.cv-description {
  font-size: 0.9rem;
}

.cv-info {
  padding: 0 1em;
  font-size: 0.8rem;
  padding-left: 0;
  list-style-type: none;

  li {
    padding-left: 2rem;
    background-image: url(/assets/dash.svg);
    background-position: 0.5rem 0.4rem;
    background-size: 0.7rem 0.7rem;
    background-repeat: no-repeat;
  }
}