summary {
  padding: 0.4rem 0.5rem;
  line-height: 1;
}

.work {
  h2 {
    display: inline-block;
    margin: 0rem 0.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}

.work-description {
  margin-top: 2rem;
}


ul.work-images {
  li {
    margin-top: 1rem;
  }
}