---
layout: base
title: work
---

<details>
  <summary>HealthBank</summary>
  <p>HealthBank is a </p>
</details>

<details>
  <summary>HealthBank</summary>
  <p>Eleventy Layouts are special templates that can be used to wrap other content. To denote that a piece of content should be wrapped in a template, simply use the layout key in your front matter, like so:</p>
</details>