---
layout: base
title: work
work:
  - title: HealthBank.io
    description: I revamped their UI and built a custom, dynamic search and filter system so that people can easily find and schedule appointments with health practitioners.
    images:
    - url: assets/healthbank-1-screen.png
      alt: screenshot of healthbank search bar
  - title: HealthFeed
    description: Eleventy Layouts are special templates that can be used to wrap other content. To denote that a piece of content should be wrapped in a template, simply use the layout key in your front matter, like so
---

<ul class="work">
{% for project in work %}
  <li>
    <details {% if loop.index == 1 %}open{% endif %}>
      <summary>
        {{ project.title }}
      </summary>
      <p>{{ project.description }}</p>
      {% if project.images.length %}
      <ul>
        {% for image in project.images %}
          <li>
            <img src="{{ image.url }}" alt="{{ image.alt }}" />
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </details>
  </li>
{% endfor %}
</ul>