.content {
  line-height: 1.8;
  margin: auto;
  max-width: var(--content-width-std);
  outline: 3px solid transparent;

  ul {
    & > * + * {
      margin-top: 0.1em;
    }
  }

  & > * + * {
    margin-top: 1.5em;
  }
}

ul.hire-me {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    span[role='img'] {
      padding-right: 0.8rem;
    }
  }
}

ul.cv {
  list-style: none;
  padding: 0;

  & > * + * {
    margin-top: 3.5rem;
  }
}

.cv-header {
  h2 {
    margin: 0;
  }
  .cv-period {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

.cv-info {
  padding: 0 1em;
  margin-top: 1.5rem;
  font-size: 0.7rem;
  li {
    margin-top: 0.3rem;
  }
}