summary {
  padding: 0.3rem;
  color: var(--color-link);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 3px solid transparent;
    border-radius: 3px;
    box-shadow: 0 0 0 3px var(--color-link);
  }
}