@import 'utils/normalize';
@import 'utils/theme';
@import 'utils/typography';
@import 'utils/mixins';

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header, main, footer {
  margin: auto;
  max-width: var(--content-width-std);

  > :first-child {
    padding: 0.2rem 0.8rem;
  }
}

header, footer {
  padding: 1.5rem 0;
}

@media only screen and (min-width: 600px) {
  header, footer {
    padding: 3.5rem 0;
  }
}

a {
  color: var(--color-link);
  text-decoration: underline;
  font-weight: 500;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: 3px solid transparent;
    color: var(--color-text);
    background-color: var(--color-highlight);
    box-shadow: 0 -2px var(--color-highlight), 0 4px var(--color-text),
  }
}

h1 {
  font-size: 1.4rem;
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 1.6;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 1.6;
}

::selection {
  background: var(--color-highlight);
}
::-moz-selection {
  background: var(--color-highlight);
}

.skip-link:not(:focus) {
  @include visually-hidden;
}

.skip-link:focus {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}


@import 'content';
@import 'components/header';
@import 'components/footer';