@import 'normalize';
@import 'theme';
@import 'typography';

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header, footer {
  margin: auto;
  padding: 1.5rem 0;
  max-width: var(--content-width-std);
}

@media only screen and (min-width: 600px) {
  header, footer {
    padding: 3.5rem 0;
  }
}

header, main, footer {
  > :first-child {
    padding: 0 0.8rem;
  }
}

a {
  color: inherit;
}

a:focus {
  outline: 3px solid transparent;
  text-decoration: none;
  background-color: var(--color-highlight);
  box-shadow:
    0 -2px var(--color-highlight),
    0 4px var(--color-text),
}

p {
  line-height: 1.75;
}

.content {
  margin: auto;

  &.standard {
    max-width: var(--content-width-std);
  }

  &.expanded {
    max-width: var(--content-width-exp);
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    line-height: 1.9;
  }
}


@import 'components/header';
@import 'components/footer';